.timer {
    font-family: 'Mitr', sans-serif;
    font-size: 80pt;
    text-align: center;
    vertical-align: middle;
}

.navbar {
    border-radius: 0 0 4px 4px;
}

.navbar-brand {
    font-family: 'Mitr', sans-serif;
    letter-spacing: 2px;
}

.app-name {
    color: #ff5555;
    font-weight: bold;
}