<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-1">
      <button class="btn btn-dark btn-block" title="+1 minute" (click)="addTime(1)">+1</button>
      <button class="btn btn-dark btn-block" title="+2 minute" (click)="addTime(2)">+2</button>
      <button class="btn btn-dark btn-block" title="+5 minute" (click)="addTime(5)">+5</button>
      <button class="btn btn-dark btn-block" title="+10 minute" (click)="addTime(10)">+10</button>
      <button class="btn btn-dark btn-block" title="+15 minute" (click)="addTime(15)">+15</button>
      <button class="btn btn-dark btn-block" title="+20 minute" (click)="addTime(20)">+20</button>
      <button class="btn btn-dark btn-block" title="+30 minute" (click)="addTime(30)">+30</button>
      <button class="btn btn-dark btn-block" title="set to 1 hour" (click)="addTime(60)">60</button>
      <button class="btn btn-warning btn-block" title="start" (click)="startTimer()" *ngIf="!isRunning"><span class="fa fa-play"></span></button>
      <button class="btn btn-secondary btn-block" title="stop" (click)="stopTimer()" *ngIf="isRunning"><span class="fa fa-stop"></span></button>
      <button class="btn btn-danger btn-block" title="clear" (click)="clearTimer()"><span class="fa fa-trash"></span></button>
      <button class="btn btn-dark btn-block" title="set to last used" (click)="lastUsed()"><span class="fa fa-history"></span></button>
    </div>
    <div class="col-10">
      <app-face [timer-radius]="300"></app-face>
    </div>
    <div class="col-1">
      <button class="btn btn-dark btn-block" title="-1 minute" (click)="subtractTime(1)">-1</button>
      <button class="btn btn-dark btn-block" title="-2 minute" (click)="subtractTime(2)">-2</button>
      <button class="btn btn-dark btn-block" title="-5 minute" (click)="subtractTime(5)">-5</button>
      <button class="btn btn-dark btn-block" title="-10 minute" (click)="subtractTime(10)">-10</button>
      <button class="btn btn-dark btn-block" title="-15 minute" (click)="subtractTime(15)">-15</button>
      <button class="btn btn-dark btn-block" title="-20 minute" (click)="subtractTime(20)">-20</button>
      <button class="btn btn-dark btn-block" title="-30 minute" (click)="subtractTime(30)">-30</button>
    </div>
  </div>
</div>
