<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-1">
      <button class="btn btn-dark btn-block" title="+1 minute" (click)="addTime(1)">+1</button>
      <button class="btn btn-dark btn-block" title="+2 minute" (click)="addTime(2)">+2</button>
      <button class="btn btn-dark btn-block" title="+5 minute" (click)="addTime(5)">+5</button>
      <button class="btn btn-dark btn-block" title="+10 minute" (click)="addTime(10)">+10</button>
      <button class="btn btn-dark btn-block" title="+15 minute" (click)="addTime(15)">+15</button>
      <button class="btn btn-dark btn-block" title="+20 minute" (click)="addTime(20)">+20</button>
      <button class="btn btn-dark btn-block" title="+30 minute" (click)="addTime(30)">+30</button>
      <button class="btn btn-dark btn-block" title="set to 1 hour" (click)="addTime(60)">60</button>
      <button class="btn btn-warning btn-block" title="start" (click)="startTimer()" *ngIf="!isRunning">
        <fa-icon [icon]="faPlay"></fa-icon>
      </button>
      <button class="btn btn-secondary btn-block" title="stop" (click)="stopTimer()" *ngIf="isRunning">
        <fa-icon [icon]="faStop"></fa-icon>
      </button>
      <button class="btn btn-danger btn-block" title="clear" (click)="clearTimer()">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
      <button class="btn btn-dark btn-block" title="set to last used" (click)="lastUsed()">
        <fa-icon [icon]="faHistory"></fa-icon>
      </button>
    </div>
    <div class="col-10">
      <app-face [timer-radius]="300"></app-face>
    </div>
    <div class="col-1">
      <button class="btn btn-dark btn-block" title="-1 minute" (click)="subtractTime(1)">-1</button>
      <button class="btn btn-dark btn-block" title="-2 minute" (click)="subtractTime(2)">-2</button>
      <button class="btn btn-dark btn-block" title="-5 minute" (click)="subtractTime(5)">-5</button>
      <button class="btn btn-dark btn-block" title="-10 minute" (click)="subtractTime(10)">-10</button>
      <button class="btn btn-dark btn-block" title="-15 minute" (click)="subtractTime(15)">-15</button>
      <button class="btn btn-dark btn-block" title="-20 minute" (click)="subtractTime(20)">-20</button>
      <button class="btn btn-dark btn-block" title="-30 minute" (click)="subtractTime(30)">-30</button>
      <button class="btn btn-warning btn-block" title="mute" (click)="mute()" *ngIf="!isMute">
        <fa-icon [icon]="faVolumeUp"></fa-icon>
      </button>
      <button class="btn btn-secondary btn-block" title="unmute" (click)="unmute()" *ngIf="isMute">
        <fa-icon [icon]="faVolumeOff"></fa-icon>
      </button>
      <a class="btn btn-success btn-block" href="https://github.com/chonla/timer" target="_blank">
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
    </div>
  </div>
</div>
